<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.forum_front.dao.SystemParamMapper">
    <resultMap id="entityList" type="com.zx.forum_front.entity.SystemParamEntity">
        <result column="paramCode" property="paramCode" jdbcType="VARCHAR"/>
        <result column="paramValue" property="paramValue" jdbcType="VARCHAR"/>
        <result column="paramDesc" property="paramDesc" jdbcType="VARCHAR"/>
        <result column="paramPrepare" property="paramPrepare" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectSystemParamsNeedCached" resultMap="entityList">
       select * from t_sysparam t where t.paramPrepare=1;
    </select>
</mapper>