<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.forum_front.dao.SystemParamMapper">
    <resultMap id="entityList" type="com.zx.forum_front.entity.SystemParamDO">
        <result column="paramCode" property="paramCode" jdbcType="VARCHAR"/>
        <result column="paramValue" property="paramValue" jdbcType="VARCHAR"/>
        <result column="paramDesc" property="paramDesc" jdbcType="VARCHAR"/>
        <result column="paramPrepare" property="paramPrepare" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectSystemParamsNeedCached" resultMap="entityList">
       select * from t_systemparam t where t.paramPrepare=1;
    </select>
    <insert id="insertSystemParam">
       insert into t_systemparam(paramCode,paramValue,paramDesc,paramPrepare)
       values(#{paramCode,jdbcType=VARCHAR},#{paramValue,jdbcType=VARCHAR},
       #{paramDesc,jdbcType=VARCHAR},#{paramPrepare,jdbcType=INTEGER}) ;
    </insert>
    <update id="updateSystemParam">
       update t_systemparam set paramValue=#{paramValue,jdbcType=VARCHAR},paramDesc=#{paramDesc,jdbcType=VARCHAR},
        paramPrepare=#{paramPrepare,jdbcType=INTEGER} where paramCode=#{paramCode,jdbcType=VARCHAR};
    </update>
    <delete id="deleteSystemParam">
       delete from  t_systemparam  where paramCode in #{paramCodes,jdbcType=VARCHAR};
    </delete>
</mapper>